* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: rgb(234, 237, 238);
  padding: 15px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  height: 30px;
} 

button {
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 4vw;
  min-width: 50px;

}

.text-input, .select-input{
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 30px;
  width: 10vw;
  min-width: 50px;
}

header {
  padding-bottom: 20px;
}

.home-img {
  width: 20px;
}