* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: rgb(234, 237, 238);
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-block {
  display: flex;
  justify-content: space-around;
  width: 10vw;
  height: 30px;
} 

button {
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 4vw;

}

.text-input, .select-input{
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 30px;
  width: 10vw;
}